{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emre's Portfolio Project</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

    <!-- <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav> -->

    <main>
        <section>
            <h2>Emre Sevim</h2>
            <p>Student of Hogeschool van Amsterdam</p>
        </section>

        <section>
            <h2>Recent Projects</h2>
            <p>Secret Manager</p>
            <p>Data Dashboard</p>
            <p>SSL Certificates using nginx</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Web Project. All rights reserved.</p>
    </footer>
</body>
</html>
{% endblock %}